* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.header div {
  background-clip: ;
  background-color: #1098ad;
  padding: 50px;
  color: #343a40;
}

.header img {
  width: 500px;
  height: auto;
  margin-top: 50px;
}
.header-img-overflow {
  position: absolute;
  top: 180px;
  left: 850px;
  width: 500px;
}
.header {
  /* background-image: url("/img/bg.jpg"); */
  /* background-position: center; */
  /* height: 700px; */
  /* background-size: cover; */

  display: grid;
  grid-template-columns: 50% 50%;
  column-gap: 50px;
  position: relative;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}

.header div {
  align-self: center;
}

.header-title {
  /* text-align: center; */
  /* position: absolute;
  left: 30%;
  top: 30%; */

  font-size: 44px;
  font-weight: 700;
  letter-spacing: 1.1;
}

.header-description {
  /* position: absolute; */

  /* left: 30%;
  top: 42%; */
  font-weight: 400;
  font-size: 30px;
  letter-spacing: 1.6;
  line-height: -1px;
}

/* Recipes */

.recipes {
  /* margin: 50px; */
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  gap: 10px;

  margin: auto;
  width: 95%;
  padding: 10px;
  justify-content: space-evenly;
}
.biriyani {
  /* background-image: url("/img/biriyani.jpg"); */
  height: 300px;

  background-position: center;
  background-size: cover;
  position: relative;
  /* font-size: 21px; */
  letter-spacing: 0.13em;
}

.title-des {
  position: absolute;
  /* top: 70%; */
  /* text-align: center; */
  /* left: 15px; */
  font-weight: 700;
}

.recipe-title {
  font-size: 22px;
}
.recipe-des {
  font-size: 18px;
  font-weight: 500;
}

/* clickabel div */

a.fill-div {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}

.biriyani-img {
  width: 300px;
  height: auto;
}
