* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
}

.header {
  background-image: url("/img/header_bg.jpg");
  background-position: center;
  height: 700px;
  background-size: cover;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
